body {
   background-color: #d0d1d9;
}

#next {
   background-color: #87ab7d;
   cursor: pointer;
   width: 100px;
}

#previous {
   width: 100px;
   background-color: #87ab7d;
   cursor: pointer;
}

input {
   background-color: #979aaa;
   width: 100px;
}

#next:hover { background: #357a4e; }
#previous:hover { background: #545454; }
input:focus { background: #f5f5f5; }
